.course-details{
    margin: 10px auto;
    /* height: 50em; */
    width: 40em;
    border: 2px solid grey;
}
.course-details img{
    width: 50%;
}
.btn-pdf{
    margin-right: 50px;
}
.course-heading{
    display: flex;
    justify-content: space-around;
    background-color: rgb(188, 167, 167);
    width: 50%;
    margin: 10px auto;
}